In [2]:
import pandas as pd

sofifa_df = pd.read_csv('../data/sofifa/sofifia-english-league-championship.csv')

In [3]:
sofifa_df.head()

,web-scraper-order,clubs,clubs-href,fifa_edition_date,fifa_edition_date-href,edition_date,overall,transfer_budget,attack,midfield,...,build_up_play_passing,build_up_play_positioning,chance_creation_passing,chance_creation_crossing,chance_creation_shooting,chance_creation_positioning,defence_pressure,defence_aggression,defence_team_width,defence_defender_line
0,1483820780-5177,Nottingham Forest,/team/14,29,/team/14?v=15&e=157739,"FIFA 15 Aug 29, 2014",69,Transfer Budget\n€ 4.5M,69,69,...,57(Mixed),Organised,57(Normal),57(Normal),48(Normal),Organised,39(Medium),47(Press),44(Normal),Cover
1,1483820782-5178,Nottingham Forest,/team/14,19,/team/14?v=14&e=157760,"FIFA 14 Sep 19, 2014",69,Transfer Budget\n€ 5M,69,69,...,57(Mixed),Organised,57(Normal),57(Normal),48(Normal),Organised,39(Medium),47(Press),44(Normal),Cover
2,1483820784-5179,Nottingham Forest,/team/14,12,/team/14?v=14&e=157753,"FIFA 14 Sep 12, 2014",69,Transfer Budget\n€ 5M,69,69,...,57(Mixed),Organised,57(Normal),57(Normal),48(Normal),Organised,39(Medium),47(Press),44(Normal),Cover
3,1483820786-5180,Nottingham Forest,/team/14,05,/team/14?v=14&e=157746,"FIFA 14 Sep 5, 2014",69,Transfer Budget\n€ 5M,70,67,...,57(Mixed),Organised,57(Normal),57(Normal),48(Normal),Organised,39(Medium),47(Press),44(Normal),Cover
4,1483820788-5181,Nottingham Forest,/team/14,29,/team/14?v=14&e=157739,"FIFA 14 Aug 29, 2014",69,Transfer Budget\n€ 5M,70,67,...,57(Mixed),Organised,57(Normal),57(Normal),48(Normal),Organised,39(Medium),47(Press),44(Normal),Cover

In [4]:
sofifa_df['sofifa_team_id']=sofifa_df['clubs-href'].str.extract('(\d+)',expand=False).astype(int)
sofifa_df.drop('clubs-href',axis=1,inplace=True)

sofifa_df.drop(['web-scraper-order'],axis=1,inplace=True)

In [5]:
#clean transfer budget
sofifa_df[['transfer_budget_num','transfer_budget_amount']]=sofifa_df['transfer_budget'].str.extract('€\s+(\d+\.?\d?)(\D)',expand=False)

#make sure only M and K
#sofifa_df.loc[sofifa_df['transfer_budget_amount'].str.contains('M|K')==False]['transfer_budget_amount']

sofifa_df['transfer_budget_num']=sofifa_df['transfer_budget_num'].astype(float)
sofifa_df['transfer_budget_total']=sofifa_df['transfer_budget_num']
sofifa_df.loc[sofifa_df.transfer_budget_amount == 'M','transfer_budget_total'] = 100000*sofifa_df['transfer_budget_num']
sofifa_df.loc[sofifa_df.transfer_budget_amount == 'K','transfer_budget_total'] = 1000 * sofifa_df['transfer_budget_num']
#sofifa_df[['transfer_budget','transfer_budget_total','transfer_budget_num','transfer_budget_amount']].head()

sofifa_df.drop(['transfer_budget','transfer_budget_num','transfer_budget_amount'],axis=1,inplace=True)
#double check if K can be multiplied by 1000
#sofifa_df.loc[sofifa_df.transfer_budget_amount == 'K']['transfer_budget_total']

In [6]:
#extract last_update_datetime
sofifa_df[['fifa_edition','last_update']]=sofifa_df['edition_date'].str.extract('(.*)\s+(\D+\s\d+\,\s+\d+)',expand=False)
sofifa_df['last_update_datetime']=pd.to_datetime(sofifa_df['last_update'])
sofifa_df.drop(['fifa_edition_date','fifa_edition_date-href','edition_date','last_update'],axis=1,inplace=True)
sofifa_df[['fifa_edition','last_update_datetime']].head()

  fifa_edition last_update_datetime
0      FIFA 15           2014-08-29
1      FIFA 14           2014-09-19
2      FIFA 14           2014-09-12
3      FIFA 14           2014-09-05
4      FIFA 14           2014-08-29

In [7]:
sofifa_df[['clubs','starting_avg_age','whole_team_avg_age']].head()

,clubs,starting_avg_age,whole_team_avg_age
0,Nottingham Forest,Starting 11 average age\n25.73,Whole team average age\n25.60
1,Nottingham Forest,Starting 11 average age\n23.91,Whole team average age\n26.17
2,Nottingham Forest,Starting 11 average age\n23.91,Whole team average age\n26.53
3,Nottingham Forest,Starting 11 average age\n27.00,Whole team average age\n26.53
4,Nottingham Forest,Starting 11 average age\n27.00,Whole team average age\n26.53

In [8]:
#clean ages
sofifa_df['starting_avg_age']=sofifa_df['starting_avg_age'].str.extract('Starting 11 average age\\n(\d+\.?\d+?)',expand=False).astype(float)
sofifa_df['whole_team_avg_age']=sofifa_df['whole_team_avg_age'].str.extract('(\d+\.?\d?)',expand=False).astype(float)
sofifa_df[['clubs','starting_avg_age','whole_team_avg_age']].head()

               clubs  starting_avg_age  whole_team_avg_age
0  Nottingham Forest              25.7                25.6
1  Nottingham Forest              23.9                26.1
2  Nottingham Forest              23.9                26.5
3  Nottingham Forest              27.0                26.5
4  Nottingham Forest              27.0                26.5

In [9]:
#Clean the following metrics and convert to interger data type
def extractNumberFromFifaMetrix(df,column):
    df.loc[df[column] == 'null',column]='0'
    df[column]=sofifa_df[column].str.extract('(\d+)',expand=False)
    df[column].fillna(value='0', inplace=True)
    df[column]=sofifa_df[column].astype(int)
    
extractNumberFromFifaMetrix(sofifa_df,'build_up_play_speed')
extractNumberFromFifaMetrix(sofifa_df,'build_up_play_dribbling')
extractNumberFromFifaMetrix(sofifa_df,'build_up_play_passing')
extractNumberFromFifaMetrix(sofifa_df,'chance_creation_passing')
extractNumberFromFifaMetrix(sofifa_df,'chance_creation_crossing')
extractNumberFromFifaMetrix(sofifa_df,'chance_creation_shooting')
extractNumberFromFifaMetrix(sofifa_df,'defence_pressure')
extractNumberFromFifaMetrix(sofifa_df,'defence_aggression')
extractNumberFromFifaMetrix(sofifa_df,'defence_team_width')

In [10]:
sofifa_df[list(sofifa_df.columns[0:10])].head()

,clubs,overall,attack,midfield,defence,starting_avg_age,whole_team_avg_age,build_up_play_speed,build_up_play_dribbling,build_up_play_passing
0,Nottingham Forest,69,69,69,68,25.7,25.6,69,34,57
1,Nottingham Forest,69,69,69,68,23.9,26.1,69,34,57
2,Nottingham Forest,69,69,69,68,23.9,26.5,69,34,57
3,Nottingham Forest,69,70,67,67,27.0,26.5,69,34,57
4,Nottingham Forest,69,70,67,67,27.0,26.5,69,34,57

In [11]:
sofifa_df[list(sofifa_df.columns[10:20])].head()

,build_up_play_positioning,chance_creation_passing,chance_creation_crossing,chance_creation_shooting,chance_creation_positioning,defence_pressure,defence_aggression,defence_team_width,defence_defender_line,sofifa_team_id
0,Organised,57,57,48,Organised,39,47,44,Cover,14
1,Organised,57,57,48,Organised,39,47,44,Cover,14
2,Organised,57,57,48,Organised,39,47,44,Cover,14
3,Organised,57,57,48,Organised,39,47,44,Cover,14
4,Organised,57,57,48,Organised,39,47,44,Cover,14

In [12]:
sofifa_df[list(sofifa_df.columns[20:30])].head()

   transfer_budget_total fifa_edition last_update_datetime
0               450000.0      FIFA 15           2014-08-29
1               500000.0      FIFA 14           2014-09-19
2               500000.0      FIFA 14           2014-09-12
3               500000.0      FIFA 14           2014-09-05
4               500000.0      FIFA 14           2014-08-29

In [13]:
sofifa_df[['sofifa_team_id','clubs']].groupby(['sofifa_team_id','clubs']).count()

Empty DataFrame
Columns: []
Index: [(2, Aston Villa), (3, Blackburn Rovers), (8, Leeds United), (13, Newcastle United), (14, Nottingham Forest), (15, Queens Park Rangers), (88, Birmingham City), (91, Derby County), (94, Ipswich Town), (110, Wolverhampton Wanderers), (144, Fulham), (1792, Norwich City), (1793, Reading), (1797, Rotherham United), (1801, Preston North End), (1807, Sheffield Wednesday), (1808, Brighton & Hove Albion), (1917, Wigan Athletic), (1919, Bristol City), (1925, Brentford), (1932, Barnsley), (1939, Huddersfield Town), (1961, Cardiff City), (15015, Burton Albion)]

In [14]:
sofifa_to_whoscored_team_id_dict={
2:24,
1932:142,
88:157,
3:158,
1925:189,
1808:211,
1919:182,
15015:1786,
1961:188,
91:20,
144:170,
1939:166,
94:165,
8:19,
13:23,
1792:168,
14:174,
1801:181,
15:171,
1793:94,
1797:210,
1807:25,
1917:194,
110:161}
sofifa_df["whoscored_team_id"]=sofifa_df["sofifa_team_id"].replace(sofifa_to_whoscored_team_id_dict)
sofifa_df[['sofifa_team_id','clubs','whoscored_team_id','fifa_edition']].groupby(['sofifa_team_id','clubs','whoscored_team_id']).count()

                                                          fifa_edition
sofifa_team_id clubs                   whoscored_team_id
2              Aston Villa             24                          242
3              Blackburn Rovers        158                         242
8              Leeds United            19                          242
13             Newcastle United        23                          242
14             Nottingham Forest       174                         242
15             Queens Park Rangers     171                         242
88             Birmingham City         157                         242
91             Derby County            20                          242
94             Ipswich Town            165                         242
110            Wolverhampton Wanderers 161                         242
144            Fulham                  170                         242
1792           Norwich City            168                         242
1793           Reading                 94                          242
1797           Rotherham United        210                         242
1801           Preston North End       181                         242
1807           Sheffield Wednesday     25                          242
1808           Brighton & Hove Albion  211                         242
1917           Wigan Athletic          194                         242
1919           Bristol City            182                         242
1925           Brentford               189                         242
1932           Barnsley                142                         242
1939           Huddersfield Town       166                         242
1961           Cardiff City            188                         242
15015          Burton Albion           1786                        242